apiVersion: apps/v1
kind: Deployment
metadata:
  name: assistx-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: assistx-app
  template:
    metadata:
      labels:
        app: assistx-app
    spec:
      containers:
        - name: assistx-container
          image: juno41/devops-test:latest
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 20
